<!--<h1>Welcome#index</h1>-->
<!--<p>Find me in app/views/welcome/index.html.erb</p-->

<% if user_signed_in? %>
	<div id="list">
		
	</div>

	<div id="movements-select">
		
	</div>

<%end%>

<p>Pagina Principal</p>

